<?xml version="1.0" encoding="utf-8"?>
<!--
    FridgeCheckup is a simple application to write and read Nfc Tag on food
    you put in your fridge.

    Copyright (C) 2013 by Frederic-Charles Barthelery

    This file is part of FridgeCheckup.

    FridgeCheckup is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    FridgeCheckup is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with FridgeCheckup.  If not, see <http://www.gnu.org/licenses/>.

    Please send bug reports with examples or suggestions to
    fbarthelery@genymobile.com

-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.genymobile.fridgecheckup"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />

    <uses-feature android:name="android.hardware.nfc" android:required="true" />

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".WriteTagActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="application/vnd.com.geny.fridge" />
		<!-- long name -->
		<data android:mimeType="application/vnd.com.genymobile.fridgecheckup" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

    </application>

</manifest>
